<% include partials/header %>

<div class="container">
  <div class="row">
    <!-- FORM -->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/instrumentos" method="POST" name="formInstrumentos">
            <div class="form-group">
              <label for="name_nombre">Nombre del instrumento: </label>
              <input
                type="text"
                name="nombre"
                placeholder="Inserte el nombre"
                class="form-control"
                pattern="[a-zA-Z\s]*$"
                title="Solo letras"
              />
            </div>
            <div class= "form-group">
              <label for="name_tipo">Tipo del instrumento: </label>
              <select name="tipo" id="tipo_instrumento" class="form-control">
                <option>cuerda</option>
                <option>percusion</option>
                <option>viento</option>
                <option>electrico</option>
              </select>
            </div>
            <div class="form-group">
              <label for="name_tipo">Marca del instrumento: </label>
              <input
                type="text"
                name="marca"
                placeholder="Inserte la marca"
                class="form-control"
                pattern="[a-zA-Z\s]*$"
                title="Solo letras"
              />
            </div>
            <div class="form-group">
              <label for="name_tipo">Precio del instrumento: </label>
              <input
                type="number"
                name="precio"
                placeholder="Inserte el precio"
                class="form-control"
              />
            </div>
            <div class="row">
              <div class = "col-md-5">
                <button type="submit" class="btn btn-primary btn-block">
                  Agregar
                </button>
              </div>
              <div class = "col-md-5">
                <a href="#" class="btn btn-primary btn-block" id="btn_limpiar">
                  Limpiar
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- LIST -->
    <div class="col-md-7">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>N</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="cuerpo-table">
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include partials/footer %>